<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardPatterm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,733},{262,184}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{262,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,547},{262,184}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{262,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,620},{262,184}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{262,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,919},{260,184}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{260,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,689},{262,184}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{262,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1146},{260,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{260,178}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,884},{260,184}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{260,184}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,508},{264,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,190}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>cardPatterm9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1105},{260,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{260,178}}</string>
                <key>sourceSize</key>
                <string>{264,190}</string>
            </dict>
            <key>eff_baodan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,989},{114,63}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,63}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1054},{76,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,130},{114,63}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{114,63}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1054},{76,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,953},{76,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{76,63}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1054},{76,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,953},{76,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{76,63}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_baodan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1054},{76,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>eff_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,531},{156,213}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,128},{156,213}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{422,359}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{422,359}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{400,347}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{400,347}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,531},{158,87}}</string>
                <key>offset</key>
                <string>{5,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,258},{158,87}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,2},{126,135}}</string>
                <key>offset</key>
                <string>{-1,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,208},{126,135}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,989},{130,133}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,209},{130,133}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,1146},{192,223}}</string>
                <key>offset</key>
                <string>{-22,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,131},{192,223}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1129},{298,239}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,127},{298,239}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,766},{378,345}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{378,345}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{392,345}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{392,345}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_boom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,373}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{430,373}}</string>
                <key>sourceSize</key>
                <string>{430,375}</string>
            </dict>
            <key>eff_feiji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{493,250}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{493,250}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_feiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,258},{481,252}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{481,252}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_feiji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,512},{445,252}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{445,252}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_feiji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{495,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{495,254}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_feiji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{483,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{483,254}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_feiji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,254},{439,252}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{439,252}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_feiji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{493,250}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{493,250}}</string>
                <key>sourceSize</key>
                <string>{499,254}</string>
            </dict>
            <key>eff_quanguan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,512},{207,251}}</string>
                <key>offset</key>
                <string>{-20,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,113},{207,251}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
            <key>eff_quanguan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,700},{271,287}}</string>
                <key>offset</key>
                <string>{-17,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,77},{271,287}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
            <key>eff_quanguan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,258},{307,287}}</string>
                <key>offset</key>
                <string>{-35,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,77},{307,287}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
            <key>eff_quanguan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,258},{271,365}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{271,365}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
            <key>eff_quanguan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,766},{341,361}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{341,361}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
            <key>eff_quanguan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1113},{315,347}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,17},{315,347}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
            <key>eff_quanguan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1129},{271,347}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,17},{271,347}}</string>
                <key>sourceSize</key>
                <string>{381,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect1.png</string>
            <key>size</key>
            <string>{2048,1435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cc81dd607f14f10b2fa5d9140a51ad9:1/1$</string>
            <key>textureFileName</key>
            <string>effect1.png</string>
        </dict>
    </dict>
</plist>
