<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_shu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2112,1234},{554,528}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{554,528}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1234},{698,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{698,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,618},{698,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{698,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2102,618},{694,614}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{694,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{686,640}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1246},{698,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{698,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{708,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{708,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{698,626}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{698,626}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{698,626}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{698,626}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2090,2},{698,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{698,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{698,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{698,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
            <key>eff_shu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,630},{698,614}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{698,614}}</string>
                <key>sourceSize</key>
                <string>{710,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3.png</string>
            <key>size</key>
            <string>{2798,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e932242b2493d449d2899ed6a0abc9c:1/1$</string>
            <key>textureFileName</key>
            <string>effect3.png</string>
        </dict>
    </dict>
</plist>
