<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_liandui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2128,289},{287,97}}</string>
                <key>offset</key>
                <string>{-171,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,109},{287,97}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1688},{353,251}}</string>
                <key>offset</key>
                <string>{-145,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{353,251}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1126},{401,279}}</string>
                <key>offset</key>
                <string>{-112,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{401,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{437,279}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{437,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1407},{385,279}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{385,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1688},{349,279}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,0},{349,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1349},{345,279}}</string>
                <key>offset</key>
                <string>{102,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,0},{345,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_liandui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2039,815},{335,251}}</string>
                <key>offset</key>
                <string>{144,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,14},{335,251}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_lianduiyou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1911},{310,97}}</string>
                <key>offset</key>
                <string>{171,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,109},{310,97}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,564},{422,249}}</string>
                <key>offset</key>
                <string>{141,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,15},{422,249}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,279}}</string>
                <key>offset</key>
                <string>{101,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,0},{450,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,2},{436,279}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,0},{436,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1658},{370,279}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{370,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1658},{356,279}}</string>
                <key>offset</key>
                <string>{-87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{356,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1630},{348,279}}</string>
                <key>offset</key>
                <string>{-137,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{348,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_lianduiyou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1377},{344,279}}</string>
                <key>offset</key>
                <string>{-182,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1939},{355,97}}</string>
                <key>offset</key>
                <string>{-167,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,109},{355,97}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,564},{405,249}}</string>
                <key>offset</key>
                <string>{-147,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{405,249}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{453,251}}</string>
                <key>offset</key>
                <string>{-112,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{453,251}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{443,279}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{443,279}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,845},{415,279}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,0},{415,279}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,2},{401,279}}</string>
                <key>offset</key>
                <string>{54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,0},{401,279}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,283},{401,279}}</string>
                <key>offset</key>
                <string>{102,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,0},{401,279}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaier_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,564},{403,279}}</string>
                <key>offset</key>
                <string>{149,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,0},{403,279}}</string>
                <key>sourceSize</key>
                <string>{701,279}</string>
            </dict>
            <key>eff_sandaieryou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,1827},{310,97}}</string>
                <key>offset</key>
                <string>{171,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,109},{310,97}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,845},{422,249}}</string>
                <key>offset</key>
                <string>{141,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,15},{422,249}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{450,279}}</string>
                <key>offset</key>
                <string>{101,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,0},{450,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,283},{436,279}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,0},{436,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1407},{370,279}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,0},{370,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,815},{356,279}}</string>
                <key>offset</key>
                <string>{-87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{356,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1068},{348,279}}</string>
                <key>offset</key>
                <string>{-137,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{348,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_sandaieryou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2065,1321},{338,251}}</string>
                <key>offset</key>
                <string>{-179,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{338,251}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2186,2},{285,101}}</string>
                <key>offset</key>
                <string>{-174,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,109},{285,101}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1688},{351,249}}</string>
                <key>offset</key>
                <string>{-144,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{351,249}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,815},{389,251}}</string>
                <key>offset</key>
                <string>{-116,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{389,251}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{437,279}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{437,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,283},{389,279}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,0},{389,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1126},{349,279}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,0},{349,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1096},{345,279}}</string>
                <key>offset</key>
                <string>{102,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,0},{345,279}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2068,1574},{331,251}}</string>
                <key>offset</key>
                <string>{142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,14},{331,251}}</string>
                <key>sourceSize</key>
                <string>{643,279}</string>
            </dict>
            <key>eff_shunziyou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2289,2},{310,101}}</string>
                <key>offset</key>
                <string>{171,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,109},{310,101}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1581},{422,251}}</string>
                <key>offset</key>
                <string>{141,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,14},{422,251}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,279}}</string>
                <key>offset</key>
                <string>{101,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,0},{450,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,564},{436,279}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,0},{436,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,283},{440,279}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{440,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1377},{356,279}}</string>
                <key>offset</key>
                <string>{-87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{356,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1096},{348,279}}</string>
                <key>offset</key>
                <string>{-137,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{348,279}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
            <key>eff_shunziyou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2056,1068},{338,251}}</string>
                <key>offset</key>
                <string>{-179,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{338,251}}</string>
                <key>sourceSize</key>
                <string>{708,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect4.png</string>
            <key>size</key>
            <string>{2405,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e413b0bf4318752a9f89f97d1186b5:1/1$</string>
            <key>textureFileName</key>
            <string>effect4.png</string>
        </dict>
    </dict>
</plist>
