<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,78},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,422},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,461},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,292},{26,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,422},{24,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,424},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,321},{26,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,363},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,422},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-blackA.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,297},{28,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-blackJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,363},{26,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-blackJOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,177},{21,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,109}}</string>
                <key>sourceSize</key>
                <string>{21,109}</string>
            </dict>
            <key>1-blackK.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,300},{28,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-blackQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,206},{28,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{108,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,146}}</string>
                <key>sourceSize</key>
                <string>{108,146}</string>
            </dict>
            <key>1-card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,146}}</string>
                <key>sourceSize</key>
                <string>{108,146}</string>
            </dict>
            <key>1-fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>1-fangsmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,119},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>1-heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,363},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{59,53}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>1-heartsmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,292},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>1-laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,441},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>1-laizi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,40},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,363},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,226},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,176},{28,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,227},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,187},{28,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,148},{28,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,227},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,264},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laiziA.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,80},{30,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laiziJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,146},{28,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laiziJOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,170},{21,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,109}}</string>
                <key>sourceSize</key>
                <string>{21,109}</string>
            </dict>
            <key>1-laiziK.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,41},{30,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laiziQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{30,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-laizismall.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,334},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>1-meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,261},{63,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>1-meihuasmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,476},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>1-red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,463},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,363},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,326},{26,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,461},{24,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,236},{26,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,326},{26,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,337},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,200},{24,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-redA.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,263},{28,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-redJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,326},{26,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-redJOKER.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,154},{21,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,109}}</string>
                <key>sourceSize</key>
                <string>{21,109}</string>
            </dict>
            <key>1-redK.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,226},{28,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-redQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,116},{28,37}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>1-tao.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,200},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,65}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>1-taosmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,476},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>2-black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,277},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,292},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,345},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,385},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,418},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,484},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,402},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,459},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,400},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-blackA.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,402},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-blackJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,202},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-blackK.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,402},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-blackQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,277},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-card.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,424},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>2-card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,226},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>2-fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,358},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>2-heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,301},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>2-meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,292},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>2-red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,320},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,177},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,152},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,127},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,77},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,277},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,52},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,27},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-redA.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,277},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-redJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{16,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-redK.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,277},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-redQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,277},{18,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>2-tao.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,402},{20,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,21}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>JOKERBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{66,112}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,112}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>JOKERRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,441},{66,112}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,112}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>Jblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,86},{82,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>Jred.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,114},{82,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>Kblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,70},{82,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>Kred.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{82,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>Qblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{82,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>Qred.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,193},{82,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,298},{104,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,141}}</string>
                <key>sourceSize</key>
                <string>{104,141}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,298},{104,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,141}}</string>
                <key>sourceSize</key>
                <string>{104,141}</string>
            </dict>
            <key>select1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{104,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,141}}</string>
                <key>sourceSize</key>
                <string>{104,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_cards.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e3c88bbe3735c08fc408834df2bc4b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_cards.png</string>
        </dict>
    </dict>
</plist>
