<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/HaiDi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/HaiDi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/HaiDi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,525},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/HaiDi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,787},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/HaiDi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/HaiDi_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,518},{118,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,112}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/LiangZhang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/LiangZhang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,431},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/LiangZhang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,781},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/LiangZhang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,263},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/LiangZhang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,395},{130,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,260}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/LiangZhang_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,221},{118,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,112}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/DangDi.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,395},{121,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,110}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,919},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,216},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,693},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,913},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,133},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,657},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,745},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Cards/FanXing_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,833},{86,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,213}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CardEffectPlist.png</string>
			<key>realTextureFileName</key>
			<string>CardEffectPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>