<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,192},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,266},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,340},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,414},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,75},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,149},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,223},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,75},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,297},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,149},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,223},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,75},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,371},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,297},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,149},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,223},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,1},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{71,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,189}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/disable_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{71,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,189}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/front.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,208},{71,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,189}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/PlayCardFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{87,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,205}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/WanFa/Hylhq/Cards/L/select.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1},{71,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,189}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LCardPlist.png</string>
			<key>realTextureFileName</key>
			<string>LCardPlist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>