<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dtz_dizha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,182}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{282,182}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,144},{136,140}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,196},{138,94}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{138,94}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{140,96}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{140,96}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,100},{140,94}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,76},{140,94}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,182}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{282,182}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,186},{144,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,35},{144,126}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,186},{138,130}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,35},{138,130}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,186},{138,130}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{138,130}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,186},{136,130}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,30},{136,130}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{138,136}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,25},{138,136}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{138,140}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,23},{138,140}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>dtz_dizha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{132,140}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,25},{132,140}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dtz_dizha.png</string>
            <key>size</key>
            <string>{986,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be8436103b009278b815e07988368c4:2c4ef67821a289836be0bf800fd5763a:27d240105c98247aa182dc70a8ec3988$</string>
            <key>textureFileName</key>
            <string>dtz_dizha.png</string>
        </dict>
    </dict>
</plist>
