<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,375},{69,19}}</string>
				<key>offset</key>
				<string>{1,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,577},{71,77}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,875},{68,69}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,945},{68,67}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,656},{70,73}}</string>
				<key>offset</key>
				<string>{1,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,495},{74,80}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,946},{68,69}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,731},{71,70}}</string>
				<key>offset</key>
				<string>{1,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,874},{66,68}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,875},{68,68}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,804},{68,68}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,495},{68,45}}</string>
				<key>offset</key>
				<string>{1,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,804},{69,69}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,227},{76,86}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,315},{69,58}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,577},{66,57}}</string>
				<key>offset</key>
				<string>{-1,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{76,58}}</string>
				<key>offset</key>
				<string>{1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,656},{67,57}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,725},{66,57}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,944},{68,58}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,960},{68,59}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,382},{97,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,287}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/disable_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,382},{97,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,671},{97,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,287}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/PlayCardFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{188,379}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,379}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/select.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1},{97,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Cards_Ti/L/front2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,114},{97,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LCardPlist.png</string>
			<key>realTextureFileName</key>
			<string>LCardPlist.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>