<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Chi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{131,141}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Chi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,859},{96,102}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Chi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1037},{62,65}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,764},{126,123}}</string>
				<key>offset</key>
				<string>{3,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1},{222,218}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{224,217}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,220},{222,216}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{209,211}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,179},{196,192}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,212},{204,176}}</string>
				<key>offset</key>
				<string>{6,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1},{218,176}}</string>
				<key>offset</key>
				<string>{5,22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,758},{133,120}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Light_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,551},{144,124}}</string>
				<key>offset</key>
				<string>{-4,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Pao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,744},{117,129}}</string>
				<key>offset</key>
				<string>{8,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Pao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1042},{86,94}}</string>
				<key>offset</key>
				<string>{7,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Pao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1037},{55,60}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Peng_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,627},{134,129}}</string>
				<key>offset</key>
				<string>{4,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Peng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,880},{98,94}}</string>
				<key>offset</key>
				<string>{3,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Ti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,390},{128,143}}</string>
				<key>offset</key>
				<string>{8,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Ti_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,875},{93,104}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Ti_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1039},{60,67}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Wei.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1037},{57,63}}</string>
				<key>offset</key>
				<string>{5,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Wei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,680},{122,134}}</string>
				<key>offset</key>
				<string>{8,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Wei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,951},{89,97}}</string>
				<key>offset</key>
				<string>{6,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouWei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,529},{233,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,143}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouWei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,687},{170,104}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,143}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouWei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,697},{160,105}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,143}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouWei_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,571},{171,95}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,143}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouWei_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,889},{137,76}}</string>
				<key>offset</key>
				<string>{3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,143}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouWei_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,665},{110,61}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,143}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/KaiZhao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,373},{227,152}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/KaiZhao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,520},{165,110}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/KaiZhao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,833},{134,90}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Long_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,804},{110,145}}</string>
				<key>offset</key>
				<string>{6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Long_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,947},{80,106}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Long_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,970},{65,86}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Long_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,955},{50,66}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Qing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,602},{119,134}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Qing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,976},{86,98}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Zhuai_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,389},{122,160}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Zhuai_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,921},{89,116}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Zhuai_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,880},{56,73}}</string>
				<key>offset</key>
				<string>{7,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouXiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,301},{226,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouXiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,461},{164,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouXiao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,221},{166,119}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouXiao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,438},{178,107}}</string>
				<key>offset</key>
				<string>{9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouXiao_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,777},{142,86}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/ChouXiao_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1023},{114,69}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,723},{108,145}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,859},{86,116}}</string>
				<key>offset</key>
				<string>{3,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xiao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1130},{65,87}}</string>
				<key>offset</key>
				<string>{3,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xiao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,373},{49,65}}</string>
				<key>offset</key>
				<string>{3,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xmz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{298,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,113}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xmz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,221},{238,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,113}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xmz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,390},{179,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,113}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Xmz_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,529},{134,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,113}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Chi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1029},{77,82}}</string>
				<key>offset</key>
				<string>{2,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Pao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,967},{68,75}}</string>
				<key>offset</key>
				<string>{6,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/KaiZhao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1064},{103,69}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Peng_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,925},{78,75}}</string>
				<key>offset</key>
				<string>{3,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Peng_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1002},{62,60}}</string>
				<key>offset</key>
				<string>{3,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Qing_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,967},{70,79}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Qing_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1002},{54,61}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Ti_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,925},{75,84}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Wei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1031},{71,78}}</string>
				<key>offset</key>
				<string>{5,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
			<key>image/game/paohuzi/AnimationEffect/Action/Zhuai_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,957},{72,94}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AnimActionPlist.png</string>
			<key>realTextureFileName</key>
			<string>AnimActionPlist.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>