<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_cdbmt_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_cdbmt_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_cdqmt_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_cdqmt_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_csphz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_csphz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_czmhz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_czmhz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hhhgw_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,60},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hhhgw_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hylhq_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,472},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hylhq_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hyshk_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,786},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hyshk_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_ldfpf_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,119},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_ldfpf_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,276},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_lyzp_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,433},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_lyzp_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,590},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_qdlhq_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,747},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_qdlhq_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,119},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_qdzp_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,60},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_qdzp_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,119},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_sybp_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,60},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_sybp_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,60},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_syzp_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,60},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_syzp_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,60},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_xxghz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,119},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_xxghz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,119},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_yxphz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,119},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_yxphz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,158},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_yywhz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,158},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_yywhz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,315},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_yzchz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,178},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_yzchz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,237},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hyswh_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,472},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_hyswh_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,629},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_bjshz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,786},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_bjshz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,943},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_ahphz_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,296},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_ahphz_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,453},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_clxzp_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,610},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
			<key>image/game/paohuzi/UI/Hall/CreateRoom/Toggles/Toggle_clxzp_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,767},{155,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>TogglesPlist.png</string>
			<key>realTextureFileName</key>
			<string>TogglesPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>