<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,643},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,643},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,643},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,643},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,643},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,643},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,346},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,470},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,346},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1829,346},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,1},{343,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{343,122}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1136,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/hezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,346},{165,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,73}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/power_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,988},{47,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,31}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/power_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,995},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,995},{34,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,27}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/card_bg_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,470},{97,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,287}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/card_bg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,988},{32,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,38}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,643},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/1/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,643},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>1Plist.png</string>
			<key>realTextureFileName</key>
			<string>1Plist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>