<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,646},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,2},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,356},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,491},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,2},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,2},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,626},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,626},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,626},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,356},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1136,640}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,640}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/card_bg_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,626},{97,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,287}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/card_bg_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,980},{32,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,38}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/hezi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,727},{170,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,74}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/power_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,980},{47,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,31}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/power_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1000},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,980},{34,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,27}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,491},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
			<key>image/game/paohuzi/UI/Game/Skin/3/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,626},{350,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>3Plist.png</string>
			<key>realTextureFileName</key>
			<string>3Plist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>